{% extends 'base.html.twig' %}

{% block title %}Connexion au site{% endblock %}

{% block metaDescription %}<meta name="description" content="Connectez-vous au site Eorzéa Compendium"/>{% endblock %}

{% block body %}
    {% for message in app.flashes('success') %}
        <div class="alert alert-success mb-4">
            {{ message }}
        </div>
    {% endfor %}
    <div class="block-title">
        <div class="title-bar"><h1>Connectez-vous ! &nbsp;</h1></div>
        <div class="bar-bar"><hr class="hr-title"></div>
        <img src="{{asset('build/images/logo_title.png')}}" alt="Icone de Chocobo" class="logo-bar">
    </div>
    {% if hasError %}
        <div class="alert alert-danger">Une erreur est survenue, le nom d'utilisateur ou le mot de passe est invalide</div>
    {% endif %}
    <form action="{{ path('account_login') }}" method="post">
        <div class="form-group">
            <label for="email">Email</label>
            <input type="text" name="_username" id="email" class="form-control" placeholder="Adresse email..." required value={{username}}>
        </div>
        <div class="form-group">
            <label for="password">Mot de passe</label>
            <input type="password" name="_password" id="password" placeholder="Mot de passe" class="form-control" required autocomplete="off">
        </div>
        <div class="form-group">
            <button type="submit" class="btn btn-success"><i class="fas fa-check"></i> Connexion</button>
        </div>
    </form>
{% endblock %}
