{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block metaDescription %}<meta name="description" content="Site d'actualité et de guide sur Final Fantasy XIV. Le plein d'infos sur Eorzéa !"/>{% endblock %}

{% block body %}
    {% for message in app.flashes('success') %}
        <div class="alert alert-success mb-4">
            {{ message }}
        </div>
    {% endfor %}
    <div class="block-title">
        <div class="title-bar"><h1>Dernières actus &nbsp;</h1></div>
        <div class="bar-bar"><hr class="hr-title"></div>
        <img src="{{asset('build/images/logo_title.png')}}" alt="Icone de Chocobo" class="logo-bar">
    </div>
    <div class="row">
        {% for article in pagination.data %}
            <div class="col-lg-3">
                {% include 'home/articleBlock.html.twig' %}
            </div>
        {% endfor %}
    </div>
    {{ pagination.display() }}
{% endblock %}