{% extends 'base.html.twig' %}

{% block title %}Guides vidéos{% endblock %}

{% block body %}
    <div class="block-title">
        <div class="title-bar"><h1>Guides vidéos &nbsp;</h1></div>
        <div class="bar-bar"><hr class="hr-title"></div>
        <img src="{{asset('build/images/logo_title.png')}}" alt="Icone de Chocobo" class="logo-bar">
    </div>
    <div class="row mt-5">
        <div class="col-2">&nbsp;</div>
        <div class="col-8 bg-light">
            <div class="h3 text-center m-3">Cette section fait partie des futures évolutions du site où plusieurs outils seront mis à disposition des utilisateurs.</div>
        </div>
    </div>
{% endblock %}