<footer class="page-footer">
    <div class="footer-copyright text-center py-2">
        © Eorzea Compendium V1.00 - Créé & conçu par Steven LECLERC.
        <br>FINAL FANTASY XIV (C) 2010 - 2020 SQUARE ENIX CO., Ltd. FINAL FANTASY est une marque déposée de Square Enix Holdings Co., Ltd.
    </div>
</footer>