{% extends 'base.html.twig' %}

{% block title %}Erreur - Un problème est survenue{% endblock %}

{% block body %}
    <div class="error-page text-center">
        <h1 class="mt-5">Erreur ! </h1>
        <h2 class="mt-5">Un problème est survenue !</h2>
        <a href="{{ path('home') }}" class="btn btn-primary mt-5">Retour à l'accueil</a>
    </div>
{% endblock %}