{% extends 'base.html.twig' %}

{% block title %}Page non autorisée{% endblock %}

{% block body %}
    <div class="error-page text-center">
        <h1 class="mt-5">Erreur 403 ! </h1>
        <h2 class="mt-5">Vous n'avez pas le droit d'accéder à cette page !</h2>
        <a href="{{ path('home') }}" class="btn btn-primary mt-5">Retour à l'accueil</a>
    </div>
{% endblock %}